<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md max-w-sm w-full">
      <h2 class="text-2xl font-bold text-center mb-6">Iniciar sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-gray-700">Nombre de usuario</label>
          <input type="text" id="username" formControlName="username"
                 class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Ingrese su nombre de usuario">
          <div *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)"
               class="text-red-600 text-sm mt-1">
            El nombre de usuario es requerido y debe tener al menos 8 caracteres.
          </div>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" formControlName="password"
                 class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Ingrese su contraseña">
          <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
               class="text-red-600 text-sm mt-1">
            La contraseña es requerida y debe tener al menos 8 caracteres.
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid"
                class="w-full bg-indigo-500 text-white p-2 rounded-md font-semibold hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Iniciar sesión
        </button>
      </form>
      <div class="flex mt-2 py-px">
        <button (click)="goToForgot()" class="m-auto">¿Olvidó su contraseña?</button>
      </div>
    </div>
  </div>
  