<div class="container mx-auto mt-5">
    <h2 class="text-2xl font-bold mb-4">Recuperar Contraseña</h2>
    <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email" class="mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm" />
        <label for="password" class="block text-sm font-medium text-gray-700">Nueva contraseña</label>
        <input id="password" formControlName="password" type="password" class="mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm" />
        <label for="confirmpassword" class="block text-sm font-medium text-gray-700">Confirme Nueva contraseña</label>
        <input id="confirmpassword" formControlName="confirmpassword" type="password" class="mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm" />
        <div *ngIf="submitted || passwordRecoveryForm.get('email')!.errors" class="text-red-500 text-sm mt-1">
          <div *ngIf="passwordRecoveryForm.get('email')!.invalid && (passwordRecoveryForm.get('email')!.dirty || passwordRecoveryForm.get('email')!.touched)" >El correo electrónico es obligatorio.</div>
          <div *ngIf="passwordRecoveryForm.get('email')!.errors">Debe ser un correo electrónico válido.</div>
          <div *ngIf="passwordRecoveryForm.get('password')!.value !== passwordRecoveryForm.get('confirmpassword')!.value">Las contraseñas no coinciden</div>
        </div>
      </div>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">Enviar</button>
    </form>
    <div *ngIf="message" class="mt-4 text-green-500">
      {{ message }}
    </div>
  </div>
  